<div class="posts">
    <table>
        <thead>
            <tr>
                <th class="large">Title</th>
                <th class="large">Content</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts; trackBy: trackById">
                <td>{{ post.title | cutLongText:100 }}</td>
                <td>{{ post.content | cutLongText:100  }}</td>
                <td><a>Edit</a> | <a>Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
