<div class="posts">
    <div class="tools">
        <button app-button type="primary" (click)="openCreateForm()">Create post</button>
    </div>
    <table>
        <thead>
            <tr>
                <th class="large">Title</th>
                <th class="large">Content</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts; trackBy: trackById">
                <td><a [routerLink]="'/post/' + post.id">{{ post.title | cutLongText:100 }}</a></td>
                <td>{{ post.content | cutLongText:100  }}</td>
                <td>
                    <a (click)="openEditForm(post)">Edit</a> | <a (click)="deletePost(post.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #formCreate>
    <post-form [reloadPosts]="getPosts"></post-form>
</ng-template>
<ng-template #formEdit>
    <post-form [mode]="'edit'" [post]="currentEditPost" [reloadPosts]="getPosts"></post-form>
</ng-template>
