@import "variables";

:host.app-form-item {
    padding: 0;
    display: block;
}

::ng-deep {
    .app-form-item {
        margin-bottom: 5px;
        .text-danger {
            margin: 0;
            line-height: 1.5;
            visibility: hidden;
        }

        &.has-error {
            .text-danger {
                visibility: visible;
            }
            .app-input {
                border-color: $danger-color;
            }
        }

    }
}
